

<div>
	<%= form_tag apartments_path, method: 'get' do %>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "search", name: "nil" %>
		</p>
	<% end %>
</div>
	<div>
<%if @rooms.present? %>
	<% @rooms.each do |room| %>
		<div class= "image_wrapper">
	       	<h4> <%= link_to room.name, room.apartment %></h4>
       		<%= link_to (image_tag room.apartment.image.url(:medium, class: "apartment_image")), apartment_path(room.apartment)  %></br>
       		
 	 	</div>
	<% end %>
<% elsif  @rooms.blank? %>
<% @apartment.each_slice(3) do |apartments| %>
	<div class="row">
	    <% apartments.each do |apartment| %>
		    <div class= "col-md-4">
	    		<div class="apartment">
		     		 <div class= "image_wrapper">
				       	<%= link_to apartment do  %>
				       	<h4> <%= link_to apartment.title, apartment %></h4>
			       		<%= link_to (image_tag apartment.image.url(:medium, class: "apartment_image")), apartment  %></br></br>
			       		<!-- <p class="bellow_image_contact">posted by </p>  -->
		     	 	</div>
	 			</div>
			</div>	
					<% end %>
			<% end %>
	</div>
<% end %>
<% end %>
