<div class="row" id="wrap_row">
	<div class="col-md-8" id= "wrap_show">
		<div style = "text-align: center"}> 
		<h3><%= @apartment.title %></h3>
		</div>
		<div class=" wrapper-show">
			<div class="apartment_image">
			<%= image_tag @apartment.image.url(:medium, id: "apartment_image")%>
			<% if current_user %>	
			<div class="user_contact">
				<span>Contact info:</span><div id="user_contact"><p> <%= @apartment.user.email %></p></div>	
				<p> <%= @apartment.body %></p>
			</div>
				<% end %>
			</div>
			<div >

		<div class="roomate_list_wrapper">
			<h3>Room-me desired skills</h3>	
			<% @apartment.rooms.each do |room| %>
			<ul>
				<li>
				<%= (room.name)%>
				<% if current_user and current_user == @apartment.user%>
				<%= link_to(" x ", room_path(room), method: :delete) %>
				</li>
			</ul>
				<% end %>
			<% end %>
		<div class= "links_show" >
			<% if current_user and current_user ==  @apartment.user%>
			<%= link_to 'Delete', apartment_path, method: :delete, data: {confirm:"Confirm if you want to delete"},class: 'btn btn-default' %>
			<%= link_to 'Edit', edit_apartment_path, class: 'btn btn-default', id: "edit" %>
			<% end %>
			<%= link_to "Back", root_path, class: 'btn btn-default' %>
		</div>
		</div>
		</div>
		</div>

	</div>		
	</div>
</div>	

 	<script type= "text/javascript"> 
		// var myApartment = <%"@apartment.postal_code" %>;
// 		handler = Gmaps.build('Google');
// 		handler.buildMap({

// 			provider: {
//			zoom:12,

// 			}, 
// 			internal: {
// 				id: 'map'
// 			}
// 		}, 
// 		function(){

// 		 markers = handler.addMarkers(<%= raw @hash.to_json  %>);
// 		 handler.bounds.extendWith(markers);
// 		 handler.fitMapToBounds();
// });

// 		</script>















