<!DOCTYPE html>
<html>
<head>
  <title>Apartment Test</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" >
		<div class="container">
			<div class= "navbar-brand" >
				<%= link_to "Roomy", root_path  %>
			</div>
			<div>
			<% if user_signed_in?  %>
			<ul class="nav navbar-nav navbar-right">
		        <li><%= link_to " Post your room", new_apartment_path %> </li>
		         <li><%= link_to "Signout", destroy_user_session_path, method: :delete %></li>
		         </ul>
		         <% else %>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Sign Up", new_user_registration_path%></li>
					<li><%= link_to "Sign In", new_user_session_path %><li>
		    </ul>
		    <% end %>
		    </div>
		</div> 
</nav>
	<div>
<div class="container">
  	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
