<!DOCTYPE html>
<html>
<head>
  <title>ProjectTest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar">
	<div class= "navbar-default" >
		<div class="container">
			<div class= "navbar-brand">
				<%= link_to "Apartment Organizer", root_path  %>
			</div>
			<ul class="nav navbar-nav navbar-right">
		        <li>
		          <%= link_to "New Apartmizer", new_apartment_path %>
		        </li>
		        <li>
		        
		        </li>
		    </ul>
		</div>
	</div>
</nav>
	<div>
<div class="container">
  	<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert" %>
  <% end %>
</div>
<%= yield %>

</body>
</html>
